body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #5B0A6B, #0A0C72, #190BDA);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.reg-container {
    text-align: left;
    padding: 20px;
}

.back-link {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.back-link .fas {
    margin-right: 10px;
}

.reg-box {
    background-color:#fff;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px;
    width: 400px;
    color: #333; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.reg-box h4 {
    font-size: 1.8em;
    margin: 0;
    text-align: center;
}

.reg-box p {
    color: #333;
    margin-bottom: 30px;
}

.reg-box p1 {
    color: #000;
    margin-bottom: 30px;
}

.progress-bar-container {
    background-color: #e0e0e0;
    height: 6px;
    border-radius: 3px;
    margin: 10px 0 20px;
}

.progress-bar {
    background-color: #0A0C72;
    height: 100%;
    border-radius: 3px;
}

.role-selection {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 15px; 
}

.role-option {
    background-color:#fff;
    color: #333;
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
}

.role-option:hover {
   background-color: #190DBA;
    border-color: #ccc;
    color:#fff;
}

.role-option.selected {
    background-color: #190BDA;
    box-shadow:none;
    color: #fff;
    border: 1px solid #190BDA;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-text .fas {
    font-size: 2em;
}

.icon-text h3 {
    margin: 0;
    font-size: 1.2em;
}

.icon-text p {
    margin: 0;
    color: #666;
}

.btn-send {
    width: 100%;
    padding: 15px;
    background-color: #190BDA;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-send:hover {
    background-color: #5B0A6B;
}