<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8"> 
<title>Crear Cuenta</title>
<link rel="icon" type="image/x-icon" href="imagenes/icono.png">
<link rel="stylesheet" href="clases/prof.css">
</head>
<body>
  <div class="Sesion"> 
    <form action="" class="formulario">
      <h1 class="titulo">Crear Cuenta</h1>
      <p class="paso">Paso 2 de 3 - Información Personal</p>
      
      <div class="contenedor">
        <label for="nombre" class="label">Nombre</label>
        <input type="text" id="nombre" class="input" placeholder="">
      </div>

      <div class="contenedor">
        <label for="apellido" class="label">Apellido</label>
        <input type="text" id="apellido" class="input" placeholder="">
      </div>

      <div class="contenedor">
        <label for="correo" class="label">Correo Electrónico</label>
        <input type="email" id="correo" class="input" placeholder="">
      </div>

      <div class="contenedor">
        <label for="departamento" class="label">Departamento</label>
        <input type="text" id="departamento" class="input" placeholder="">
      </div>

      <div class="contenedor">
        <label for="password" class="label">Contraseña</label>
        <input type="password" id="password" class="input" placeholder="">
      </div>

      <input type="submit" class="boton" value="Continuar">
    </form>
  </div>
</body>
</html>
